.container {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    .header {
        align-self: flex-end;
    }
    .content {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        
        .card {
            height: 35.2rem;
            margin: 1rem;
        }
    }
}
