<div class="container showBorder">
    <div class="showBorder">
        <div class="showBorder">
            <div class="showBorder">
                <div class="showBorder">
                    <div class="showBorder">
                        <h1 class="floating">
                            <!-- <span class="floating"> -->
                                A floating banner text
                            <!-- </span> -->
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>