.container {
  margin: 2% 10%;
}
.showBorder {
  border: 2px solid rgb(0, 0, 0);
  padding: 2rem;
}
.floating {
  font-size: 1.8rem;
  margin: 0;
  text-transform: uppercase;
  animation-name: floating;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0, 0.48, 0.91, 0.51);
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes floating {
  100% {
    transform: translateX(69%);
  }
}
